:root {
  --orange: #eb6852;
  --black: #435363;
  --blue: #eff7fe;
  --dblue: #b3d1ed;
}

/* Fixes the autocomplete box over the map: */
.ui-autocomplete { 
  z-index: 400 !important;
} 

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b3d1ed;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #b3d1ed;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #b3d1ed;
}
:-moz-placeholder { /* Firefox 18- */
  color: #b3d1ed;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin: 0px;
  background-color: var(--blue);
}

.top {
  display: grid;
  background-color: white;
  padding: 10px;
  border-bottom: 5px solid var(--dblue);
  grid-template-areas: "logo menu menu menu";
}

.logo {
  grid-area: logo;
  align-self: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.logo h1 {
  margin-left: 5px;
  display: inline !important;
  padding: 0.5px;
  font-size: 3rem;
}

#orange {
  color: var(--orange);
}

#black {
  color: var(--black);
}

.menu {
  grid-area: menu;
}

.menu ul {
  display: grid;
  padding: 50;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  overflow: hidden;
  justify-items: center;
}

.menu ul li{
  padding: 5px;
}

.menu a {
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
  font-size: 25px;
}
.menu a:hover {
  color: var(--orange);
}

.middle {
  max-width: 1200px;
  margin: 10px auto;
  background-color: var(--blue);
  margin-bottom: 25px;
}
.middle p{
  font-size: 18px;
  text-align: center;
  width: 90%;
  margin: 0px auto;
}
.middle h1 {
  font-size: 30px;
  text-align: center;
  color: #eb6852;
}
.instructions h2{
  display: block;
  position: relative;
  width: 326px;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 300;
  padding: 1.4rem;
  margin: 0px auto;
}
.search-container{
  width: 80%;
  display: inline-block;

}

.address {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 100%;
  margin-bottom: 40px;
  margin-left: 10%;
  
}

.form {
  display: block;
  margin: 0px auto;
  text-align: center;
  width: 90%;
  max-width: 800px;
}

#map-container {
  width: 100%;
  height: 600px;
}

#mapid {
  width: 80%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}


#about {
  
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

button[type="submit"] {
  background-color: #eff7fe;
  border: none;
  cursor: pointer;
  height: 60px;
  font-size: 2.2rem;
  line-height: 3rem;
  margin-top: auto;
  margin-bottom: auto;
  float: right;
}

input[id="address"],
textarea {
  background-color: white;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 3rem;
  margin: 2px;
  width: 90%;
  float: left;
}

input[class="coopFormInput"],
textarea {
  padding-left: 0;
  padding-right: 0;
  width: 35px;
}

.search {
  width: 100%;
  border-radius: 150px;
  border: 2px solid var(--dblue);
  text-align: center;
  display: inline; 
  vertical-align: top;
}
.search.ui-autocomplete-input:focus {
  border-radius: 150px;
  box-shadow: 0 0 3px 2px hsl(200, 100%, 75%);
  outline: none;
}

.end {
  text-align: center;
  bottom: 0;
  width: 100%;
  margin-top: 11vh;
  height: 150px;
}

#chickens-end {
  width: 100%;
  height: 90%;
  padding: 10px;
  
}

#links {
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 40px;
}

#links img {
  padding-left: 10px;
  padding-right: 10px;
}

.chicken2 {
  transform: scaleX(-1);
}

@media (max-width: 1920px) {
  textarea {
    background-color: VAR(--blue);
    font-size: 30px;
    width: 800px;
  }
}
@media (max-width: 1100px) {
  .top>.logo {
    justify-self: center;
    text-align: center;
  }

  .top {
    grid-template-areas:
      "logo"
      "menu";
  }
}

@media (max-width: 800px) {
  .logo h1{
    text-align: center;
  }
  .top {
    justify-items: center;
  }
  .end {
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: 11vh;
    height: 100px;
  }
  .end>img {
    background-color: var(--blue);
    height: 100%;
  }
}

  @media (max-width: 528px) {
    .top {
      grid-template-areas:
        "logo"
        "menu";
    }
    .end>img {
      margin-left: 20px;
    }
  }

  @media (max-width: 320px),
  screen and (max-height: 700px) {
    .instructions {
      font-size: 1.2rem;
      overflow: hidden;
    }
    input[class="coopFormInput"],
    textarea {
      padding-left: 0;
      padding-right: 0;
      width: 35px;
    }
  }
